.card{
    width: 400px;
    height: 200px;
    flex-direction: column;
    background-color: red;
    margin-top: 100px;
    margin-left: 400px;

}
img{
    max-width: fit-content;
    max-height: fit-content;
}